<!--nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Usuarios</a>
      
      <div class="collapse navbar-collapse" id="navbarColor01">
        
        <form class="d-flex ms-auto">
          <input class="form-control me-sm-2" type="search" placeholder="Buscar">
          
        </form>
      </div>
    </div>
  </nav-->

  
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema-Inventarios</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" routerLink="/listincomes" href="#">Ingresos</a>

            
          </li-->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ingresos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/listincomes"  href="#">Lista-Ingresos</a>
              <!--a class="dropdown-item" routerLink="/addincome"  href="#">Ficha-Ingresos</a-->                           
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="#">Detalle-Ingresos</a>
            </div>
          </li>

          <!--li class="nav-item">
            <a class="nav-link" routerLink="/listoutputs" href="#">Egresos</a>
          </li-->


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Egresos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item"  routerLink="/listoutputs" href="#">Lista-Egresos</a> 
              <!--a class="dropdown-item" href="#">Ficha-Egresos</a-->                           
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="#">Detalle-Egresos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compras</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/listincomes"  href="#">Lista-Compras</a>
              <a class="dropdown-item"  href="#">Detalle-Compras</a>
              <!--a class="dropdown-item" routerLink="/addincome"  href="#">Ficha-Ingresos</a-->                           
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/listincomes"  href="#">PagosProveedores</a>
              <a class="dropdown-item" routerLink="/addincome"  href="#">DetallePagos</a> 
            </div>
          </li>
       

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Materiales</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/listmaterials"  href="#">Maquinas-Equipos</a>
              <a class="dropdown-item"  href="#">Repuestos-Materiales</a>                                      
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="#">Categorias</a>
            </div>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" routerLink="/listusers" href="#">Inventarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listusers" href="#">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listusers" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listusers" href="#">Usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Otros</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Carga.Masiva.CSV</a>
              <a class="dropdown-item" href="#">Catalogos</a>
              <a class="dropdown-item" href="#">Herramientas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Configuraciones</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Buscar">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Filtros</button>
        </form>
      </div>
    </div>
  </nav>
