<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
  
  
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Crear Nuevo Material</div>
          <form action="">
            <input  type="text" class="form-control mt-2" placeholder="Nombres">
            
            <input  type="text" class="form-control mt-2" placeholder="Apellidos">
            
            <input type="text" class="form-control mt-2" placeholder="Usuario">
            
            <input type="password" class="form-control mt-2" placeholder="Contraseña">
            
            <input  type="text" class="form-control mt-2" placeholder="Direccion">
           
            <input type="text" class="form-control mt-2" placeholder="Telefono">
            
            <div class="row mt-2 text-center">
              <div class="col-lg-6">
                <button  type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <div class="col-lg-6">
                <button routerLink="/" type="button" class="btn btn-secondary">Cancelar</button>
              </div>
  
            </div>
          </form>
        </div>
      </div>
    </div>
  
  
  </div>
